<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>WhyIsMyAudioLowDriver</string>
    <key>CFBundleIdentifier</key>
    <string>com.kylekumar.WhyIsMyAudioLow.AudioDriver</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>WhyIsMyAudioLow Audio Driver</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>AudioServerPlugIn</key>
    <dict>
        <key>com.apple.audio.CoreAudio.driver</key>
        <dict>
            <key>factory function</key>
            <string>WhyIsMyAudioLow_Create</string>
        </dict>
    </dict>
</dict>
</plist>
